# Ignore all files with no extension
*
!*.*

.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libdill.pc
*.o
*.lo
*.la
libtool
ltmain.sh
m4/*.m4
missing
test-driver
tests/.deps/
tests/.dirstamp
tests/.libs/
tests/*.log
tests/*.trs
tests/*.o
test-suite.log
dns/.deps/
dns/.dirstamp
perf/.dirstamp
*.gcno
*.gcda
tests/*.gcno
tests/*.gcda
dns/*.gcno
dns/*.gcda
tutorial/basics/*.o
tutorial/basics/.dirstamp
tutorial/protocol/*.o
tutorial/protocol/.dirstamp
tutorial/sockets/.dirstamp
examples/.dirstamp
build/
