language: c

sudo: false

matrix:
  include:
  - os: linux
    compiler: gcc
    env: 
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: clang
    env: 
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - clang
  - os: linux
    compiler: gcc
    env: STATIC=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: clang
    env: STATIC=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - clang
  - os: osx
    compiler: clang
    env: 
  - os: osx
    compiler: clang
    env: STATIC=1
  - os: osx
    compiler: clang
    env: NOTHREADS=1
  - os: osx
    compiler: clang
    env: STATIC=1 NOTHREADS=1
  - os: linux
    compiler: gcc
    env: DIST=1
    addons:
      apt:
        packages:
          - pandoc
  - os: linux
    compiler: gcc
    env: POLL=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: gcc
    env: NOTHREADS=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: gcc
    env: CENSUS=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: gcc
    env: VALGRIND=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
          - valgrind
  - os: linux
    compiler: gcc
    env: STATIC=1 VALGRIND=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
          - valgrind
  - os: linux
    compiler: gcc
    env: NOTHREADS=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: gcc
    env: VALGRIND=1 NOTHREADS=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
          - valgrind
  - os: linux
    compiler: gcc
    env: POLL=1 NOTHREADS=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: gcc
    env: STATIC=1 NOTHREADS=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: gcc
    env: ARCH_FALLBACK=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: linux
    compiler: clang
    env: ARCH_FALLBACK=1 
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - clang
  - os: linux
    compiler: gcc
    env: THREAD_FALLBACK=1
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc-4.9
  - os: osx
    compiler: clang
    env: THREAD_FALLBACK=1


branches:
  except:
    - gh-pages

install:
  - ./autogen.sh
  - ./configure ${STATIC+--disable-shared} ${DEBUG+--enable-debug} ${VALGRIND+--enable-valgrind} ${CENSUS+--enable-census} ${NOTHREADS+--disable-threads} CFLAGS="-O3 ${POLL+-DDILL_POLL} ${ARCH_FALLBACK+-DDILL_ARCH_FALLBACK} ${THREAD_FALLBACK+-DDILL_THREAD_FALLBACK}"
  - make V=1 ${DIST+dist}

script:
  - make check

after_failure:
  - for f in tests/*.log; do echo; echo "${f}:"; cat $f; done;
  - cat test-suite.log

notifications:
  email: false
