PACKAGE_NAME = "libdill"
PACKAGE_TARNAME = "libdill"
PACKAGE_VERSION = "dc634c6-dirty"
PACKAGE_STRING = "libdill dc634c6-dirty"
PACKAGE_BUGREPORT = "libmill@freelists.org"
PACKAGE_URL = "http://libdill.org/"
PACKAGE = "libdill"
VERSION = "dc634c6-dirty"
DILL_THREADS = 1
DILL_PTHREAD = 1
HAVE_POSIX_MEMALIGN = 1
HAVE_MPROTECT = 1
HAVE_CLOCK_GETTIME = 1
HAVE_KQUEUE = 1
HAVE_KQUEUE = 1
HAVE_STRUCT_SOCKADDR_SA_LEN = 1
STDC_HEADERS = 1
HAVE_SYS_TYPES_H = 1
HAVE_SYS_STAT_H = 1
HAVE_STDLIB_H = 1
HAVE_STRING_H = 1
HAVE_MEMORY_H = 1
HAVE_STRINGS_H = 1
HAVE_INTTYPES_H = 1
HAVE_STDINT_H = 1
HAVE_UNISTD_H = 1
HAVE_DLFCN_H = 1
LT_OBJDIR = ".libs/"
DILL_SHARED = 1

